@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    body {
        background-color: black;
    }

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* navigation-part */

.navbar-main{

    max-width: 1060px;
    height: 46px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top:30px; ;
}
.navbar-item-1{
    color: rgba(229, 81, 13, 0.966);
    font-weight: 800px;
    line-height: 120%;
    letter-spacing:0% ;
    text-align: left;
    font-style: italic;
}
.nav-item-2{
    position: static;

    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
    margin-left: auto;
}
.nav-hamburger-menu{
    color: white;
    display: none;
}
.navbar-item-2 span{
    background-color: #ea452c;
    border-radius: 60px;
    padding: 0 10px;
    font-size: larger;
}
a{
    text-decoration: none;
    color: white;
    margin: 0 10px;

}


/* banner part */

.banner-title{
    max-width: 100%;
    font-size: larger;
    height: auto;
}
.banner-title h1{
    color: white; 
    font-size: 65px;
    font-weight: bolder;
    margin-left: 0;
    
}
.banner-title p{
    color: rgba(204, 204, 204, 0.871);
    /* padding: 10px; */
    font-size: 20px;
    font-weight: 500;
    margin-left: 0 ;
}
.banner-button-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}
.banner-btn-1{
    background-color:rgba(229, 81, 13, 0.966);
    padding: 10px;
    border-radius: 10px;
}
.banner-btn-2{
    background-color: rgba(229, 81, 13, 0.966);
    padding: 10px;
    border-radius: 10px;
}

.banner-section{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}
.banner-section-card{
    width:50%;
    position: relative;
}
.banner-section-card img{
    width: auto;
    max-height: 400px;
}
.elements{
    background-color:rgba(0, 0, 0, 0.246);
    color: white;
    width:max-content ;
    padding: 8px ;
    font-size: 10px;
    border-radius: 10px;
    position: absolute;
    top:20%;
    left: 55%;
    color: rgb(220, 210, 210);
    
}
.element-item-2{
    position:absolute ;
    top: 80%;
    left:15% ;
    color: white;
    background-color: rgba(0, 0, 0, 0.214);
    border-radius: 10px;
    padding: 10px;
}
.element-item-2 img{
    position: absolute;
    top: 35px;
    left: -40px;
}


.banner-title span{
    font-family: "Dancing Script", cursive;
    font-style: italic;
    font-size: larger;
    font-weight: bolder;
}


